lightPalette = {
  white: #FBF8F6,
  lightGray: #EFEFEE,
  mediumGray: #D2CECA,
  darkGray: #554A45,
  blue: #2568CF,
  blueGray: #4476C3
}

darkPalette = {
  black: #020913,
  charcoal: #202020,
  darkGray: #2C2E31,
  lightGray: #C5CAD5
  orange: #FF8D1B
}
