@require 'src/design'

.polymath-media-comps-portrait
  image-rendering pixelated

for $breakpointName, $breakpoint in $breakpoints
  $queryBreakpoint = querifyBreakpoint($breakpoint)
  @media $queryBreakpoint
    if $breakpointName is 'large' or $breakpointName is 'medium'
      .polymath-media-comps
        margin-top 3rem
        > *
          display inline-flex
      .polymath-media-comps-grid
        width columnsAndGutters($breakpoint, 6, 5)
        margin-right columnsAndGutters($breakpoint, 1, 0)
      .polymath-media-comps-portrait
        width columnsAndGutters($breakpoint, 3, 4)
    if $breakpointName is 'small'
      .polymath-media-comps-grid,
      .polymath-media-comps-portrait
        display block
        width 100%
        margin-top 2rem
