@require 'src/design'

body
  &.home-projects-prefetched .home-project
    background-color rgba(255, 255, 255, 0)
  &.fixed-home-projects
    .home-projects
      pointer-events none
    .home-project-button,
    .home-project-heading
      pointer-events all
      cursor pointer

.home-quote
  font-weight bold

.home-project
  position relative
  transition background-color linear $shorter, height $defaultTiming $medium
  & > *
    transition opacity $defaultTiming $medium
  &:not(.home-project-selected)
    cursor pointer

.home-project-heading
  transition border-color linear $shorter

.home-project-caption,
.home-project-image
  transition top $defaultTiming $mediumShort, transform $defaultTiming $mediumShort, opacity $defaultTiming $medium

.home-project-image
  background-position-x 50%
  background-position-y 50%
  background-size cover
  background-repeat no-repeat

.home-project-image-whispbar
  background-image url(/images/home-projects-whispbar.png)

.home-project-image-polymath-interviews
  background-image url(/images/home-projects-polymath.png)

.home-project-image-pollinate-customizer
  background-image url(/images/home-projects-customizer.png)

.home-project-image-sams-header
  background-image url(/images/home-projects-sams-header.png)

.home-project-contributions
  @extend .un-bullet

for $breakpointName, $breakpoint in $breakpoints
  $queryBreakpoint = querifyBreakpoint($breakpoint)
  @media $queryBreakpoint
    .home-header
      margin-left columnsAndGutters($breakpoint, 1, 2)
    .home-explanatory
      margin-left columnsAndGutters($breakpoint, 1, 2)
    if $breakpointName is 'large' or $breakpointName is 'medium'
      .home-header-greeting
        margin-left -0.06em
      .home-header-intro
        margin-top 0.7rem
        font-size scaleType($breakpoint, 1)
      .home-projects
        position absolute
        right columnsAndGutters($breakpoint, 1, 2)
        h2 + figure
          margin-top 1.6rem
      .home-project
        overflow-y hidden
        &.home-project-collapsed
          height 3.1rem
          .home-project-caption
            top 0
            transform translateY(0)
          .home-project-image
            top 5rem
          .home-project-button
            right 3rem
            transition right $defaultTiming $shorter, opacity $defaultTiming $medium
        &:not(.home-project-collapsed) .home-project-button
          transition right $defaultTiming $medium $mediumShort, opacity $defaultTiming $medium
        &:hover:not(.home-project-selected) .home-project-image
          top 0.1rem
          transition-duration $shorter
          transition-timing-function ease-out
      .home-project-image
        position absolute
        top 0
        left 0
        margin-top 0.1rem
        pointer-events none
      .home-project-caption
        position absolute
        left columnsAndGutters($breakpoint, 1, 0)
        top 100%
        transform translateY(-100%)
        padding-top 0.5rem
      .home-project-selected
        .home-project-link-arrow
          opacity 0
      .home-project-contributions
        margin 0
      .home-project-link-arrow svg
        height 0.5rem
        position absolute
        top 1.4rem
        left -1.7rem
      .home-project-button
        display block
        position absolute
        right 0
        width 5rem
        height 5rem
        transform rotate(90deg)
        svg
          position absolute
          right 1.5rem
          width 2rem
          transition top $short $defaultTiming
      .home-explanatory
        margin-bottom 2.75rem
      $gridWidth = gridWidth($breakpoint)
      body.fixed-home-projects .home-projects
        position fixed
        top 17.3rem
        right 'calc((100vw - %s) / 2 + %s)' % ($gridWidth columnsAndGutters($breakpoint, 1, 2))
    if $breakpointName is 'large'
      .page-home
        padding-bottom 8rem
      .home-header
        width columnsAndGutters($breakpoint, 11, 10)
        margin-top 5.25rem
        margin-bottom 3.8rem
      .home-explanatory
        display flex
        width columnsAndGutters($breakpoint, 11, 10)
        hyphens auto
      .home-explanatory-column
        width columnsAndGutters($breakpoint, 5, 4)
        margin-bottom 33.2rem
        &:last-child
          margin-left columnsAndGutters($breakpoint, 1, 2)
      .home-projects
        top 12.1rem
        width columnsAndGutters($breakpoint, 10, 9)
      .home-project
        width columnsAndGutters($breakpoint, 10, 10)
        height 23rem
      .home-project-heading
        font-size scaleType($breakpoint, 1)
      .home-project-caption
        padding-bottom 1.4rem
      .home-project-image
        width columnsAndGutters($breakpoint, 10, 9)
        height 23rem
      .home-project-button
        top 9rem
        svg
          top 1.8rem
          &:nth-child(2)
            top 1.1rem
        &.home-project-button-indicate svg:nth-child(2)
          top 0.7rem
    if $breakpointName is 'medium'
      .page-home
        padding-bottom 8rem
      .home-header
        width columnsAndGutters($breakpoint, 6, 5)
        margin-top 4.25rem
        margin-bottom 2.8rem
      .home-explanatory
        width columnsAndGutters($breakpoint, 8, 7)
      .home-explanatory-column
        width 100%
        margin-top 2.75rem
      .home-projects
        top 13.1rem
        width columnsAndGutters($breakpoint, 8, 7)
      .home-project
        width columnsAndGutters($breakpoint, 8, 8)
        height 21rem
      .home-project-heading
        font-size scaleType($breakpoint, 0)
      .home-project-caption
        padding-bottom 1.6rem
      .home-project-image
        width columnsAndGutters($breakpoint, 8, 7)
        height 21rem
      .home-project-button
        top 8rem
        svg
          top 2rem
          &:nth-child(2)
            top 1.3rem
        &.home-project-button-indicate svg:nth-child(2)
          top 0.9rem
    if $breakpointName is 'small'
      .home-header,
      .home-explanatory
        width columnsAndGutters($breakpoint, 10, 9)
      .home-project,
      .home-project-image
        width 100%
        height 100%
      .home-header
        margin-top 9.8rem
        font-size scaleType($breakpoint, 4)
        line-height 6.9rem
      .home-header-greeting,
      .home-header-intro-sentence
        margin-bottom 0.65em
      .home-header-greeting
        font-size inherit
        letter-spacing inherit
        line-height inherit
      .home-header-intro
        line-height inherit
      .home-header-intro-sentence
        display block
      .home-explanatory
        margin-top 6.5rem
      .home-explanatory-column
        margin-top 6rem
      .home-recommendation
        margin-top 3rem
        margin-bottom 3rem
        text-align center
      .home-recommendation-quote
        text-indent 0
      .home-projects
        margin-top 16.5rem
        padding-top 4rem
        width 100%
        overflow hidden
      .home-project
        width 100%
        height 33rem !important
        margin-top 6.2rem
      .home-project-image
        background-size 115%
      .home-project-button
        display none
      .home-project-caption
        position absolute
        top 0
        left 0
        width 100%
        height 100%
      .home-project-heading,
      .home-project-contributions
        position absolute
        left 0
        padding-left columnsAndGutters($breakpoint, 0, 1)
      .home-project-heading
        top -8.9rem
        width 100%
        height 5rem
        padding-top 1rem
        padding-bottom 5rem
        border-top solid 1rem
        // Sampled from home project images
        background-color #090A1A
      .home-project-link,
      .home-project-link-arrow,
      .home-project-link-text
        display block
      .home-project-link
        position relative
        text-decoration none !important
      .home-project-link-arrow
        position absolute
        top 1.1rem
        right columnsAndGutters($breakpoint, 0, 1)
        height 0.5rem
        transform rotate(90deg)
        height 1px
        vertical-align middle
        & > svg
          height 1rem
      .home-project-contributions
        position absolute
        bottom 3.3rem
    html.js
      .home-project
        margin-bottom 0
        & > *
          opacity 0
      .home-project:not(.home-project-selected) .home-project-link
        text-decoration none
      body.home-projects-prefetched .home-project > *
        opacity 1
