html, body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #17162F;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
}

#links {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
}

#links tspan {
	transition: fill 0.3s ease-in-out;
}

#links a:hover tspan {
	fill: #FFDF00;
}

#links a:active tspan {
	fill: #18AB08;
	transition: none;
}

#links .service {
	fill: #FFFFFF;
}

#links .tld-and-path {
	fill: #2A2949;
}

#links .first-name {
	fill: #663B00;
}

#links .last-name {
	fill: #FFDF00;
}
