section.who-where
  .card
    h1.who-where__name
      span.who-where__first Adam
      span.who-where__last Shaylor
    div.who-where__title Software Engineer
    div.who-where__location
      span.who-where__city Barcelona
      span.who-where__comma ,
      span.who-where__state
      |
      | Catalunya
