@require 'src/design'

for $breakpointName, $breakpoint in $breakpoints
  $queryBreakpoint = querifyBreakpoint($breakpoint)
  @media $queryBreakpoint
    if $breakpointName is 'large' or $breakpointName is 'medium'
      .sams-media-options > *
        display inline-flex
        width columnsAndGutters($breakpoint, 4, 4)
        &:first-child
          margin-right columnsAndGutters($breakpoint, 2, 1)
    if $breakpointName is 'small'
      .sams-media-options > *
        display block
        width 100%
        margin-top 2rem
