html(lang='en-US')
  include components/head/head.pug
body
  include components/layout/layout.pug
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-63102701-1')
  script(src='./index.js')
